<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>循环动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53A575BD1C2A2FE400D81689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53A575D61C2A2FE400D81689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53A575E11C2A2FE400D81689</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
