<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>uislider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>53AC4A0F1BC7AE930001FE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53AC4A281BC7AE940001FE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>53AC4A331BC7AE940001FE47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
